<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IService1" />
          <binding name="BasicHttpBinding_IService" maxBufferPoolSize="2147483647"
            maxReceivedMessageSize="2147483647" />
        </basicHttpBinding>
      </bindings>
        <client>
            <endpoint address="http://testubl21.thefactoryhka.com.co/ws/adjuntos/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="ServiceAdjuntos.IService" name="BasicHttpBinding_IService" />
            <endpoint address="http://testubl21.thefactoryhka.com.co/ws/v1.0/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="ServicesService.IService" name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>